<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penjualanmobilkotlin">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataMobilActivity"/>
        <activity android:name=".TambahMobilActivity"/>
        <activity android:name=".DataPembeliActivity"/>
        <activity android:name=".DataCashActivity"/>
        <activity android:name=".DataCicilActivity"/>
        <activity android:name=".DataKreditActivity"/>
        <activity android:name=".TambahCashActivity"/>
        <activity android:name=".DataPaketActivity"/>
        <activity android:name=".TambahKreditActivity"/>
        <activity android:name=".TambahCicilActivity"/>
        <activity android:name=".TambahPembeliActivity"/>
        <activity android:name=".TambahPaketActivity"/>
        <activity android:name=".EditMobilActivity"/>
        <activity android:name=".EditPaketActivity"/>
        <activity android:name=".EditPembeliActivity"/>
        <activity android:name=".EditCashActivity"/>
        <activity android:name=".EditKreditActivity"/>
        <activity android:name=".EditCicilActivity"/>
        <activity android:name=".BerandaSActivity"/>
        <activity android:name=".BerandaMActivity"/>
        <activity android:name=".LaporanKreditActivity"/>
        <activity android:name=".LaporanCashActivity"/>
        <activity android:name=".LaporanCicilanActivity"/>
    </application>

</manifest>